
body {
	margin: 0;
}



div.toyTheatreSpace {
    position: relative;
    width: 960px;
    height: 1060px;
    margin: 0px;
    border: 0px solid green;
    padding: 0px;
    background-color: rgb(216,65,62);
    /*color: black;*/
    overflow: hidden;
   
   
    
}



*.image
{
   position: absolute;
   z-index: 100;
}




div.theatreControls {
    position: relative;
    bottom: 0px;
    Left: 0px;
    width: 960px;
    height: 150px;
    margin: 0px;
    border: 0px solid black;
    padding: 0px;
    background-color: rgb(216,0,0);
    
} 




div.theatreOutputs {
    position: relative;
    bottom: 0px;
    Left: 0px;
    width: 960px;
    height: 50px;
    margin: 0px;
    border: 0px solid orange;
    padding: 0px;
    background-color: rgb(150,40,40);
    
} 





    
label {

font-family: calibri;
font-size: 35px;
color: white;
    
    }

    
a {

font-family: calibri;
    font-size: 40px;
    text-align: center;
    color: white;
    
    }



*.image2
{
   position: absolute;
   z-index: -1;
}




div.footer {
    position: absolute;
    width: 980px;
    height: 310px;
    margin: 0px;
    border: 0px solid red;
    padding: 0px;
    background-color:black;
    color: white;
    
}


p {
font-family: calibri;
font-size: 30px;
color: white;
text-align: center;

}

















