

/*div.header {
    position: relative;
    width: 900px;
    height: 423px;
    margin: 0px;
    border: 1px solid black;
    padding: 0px;
    background-color: rgb (243,108,79);
}
*/

div.toyTheatreSpace {
    position: relative;
    width: 1080px;
    height: 1300px;
    margin: 0px;
    border: 0px solid black;
    padding: 0px;
    background-color: rgb(212,113,102);
    color: black;
    overflow: hidden;
   
   
    
}

/* this needs to be same width as Proscenium */

div.theatreComponents {
    position: absolute;
    bottom: 80px;
    Left: 0px;
    width: 1080px;
    height: 1200px;
    margin: 0px;
    border: 0px solid green;
    padding: 0px; 
    overflow: hidden;

} 




*.image
{
   position: absolute;
   z-index: 100;
}




div.theatreControls {
    position: absolute;
    bottom: 0px;
    Left: 0px;
    width: 1080px;
    height: 100px;
    margin: 10px;
    border: 0px solid black;
    padding: 0px;
    background-color:rgb(243,108,79);
} 

p {
    font-family: calibri;
    font-size: 20px;
    text-align: center;
}


/*div.peoplePics {
    position: relative;
    width: 900px;
    height: 500px;
    margin: 0px;
    border: 1px solid black;
    padding: 0px;
    background-color: rgb(212,113,102);
}


div.mainText {
    position: relative;
    width: 860px;
    height: 1700px;
    margin: 0px;
    border: 1px solid black;
    padding: 20px;
    background-color: rgb(212,113,102);
}
*/

div.footer {
    position: absolute;
    width: 1080px;
    height: 50px;
    margin: 0px;
    border: 0px solid red;
    padding: 0px;
    background-color:black;
    color: white;
}







/*h1 0
    color: black;
    text-align: center;
    font-family: avenir;
    font-size: 40px;
}



p {
    font-family: calibri;
    font-size: 20px;
    text-align: center;
}


*/






/* This is overall page CSS */

/*div.backgroundImageContainer {
    position: relative;
    width: 894px;
    height: 4622px;
    margin: 1px;
    border: 1px solid black;
    padding: 0px;
    background-color: pink;
}

*/


/*.image
{
   position: absolute;
   z-index: -1;
}*/


/* myTheatre CSS starts here */

/* comments for CSS */

/*#box1
{
  width: 700px;
   height: 750px;
   position: absolute;
  margin: 0px 0px;
   border: 0px outset #000;
   background-color: black;
   overflow: hidden;
}*/






/*p

 {
    border: 1px solid black;
    margin: 550px 20px;
	font-family: calibri;
    font-size: 14px;
    color: black;
 }
*/


/*h1

{


font-family: calibri;
    font-size: 30px;
     color: black;
     font-style: italic;
}
*/




label

{
	font-family: calibri;
    font-size: 24px;
    color: black;
}



a

{

font-family: calibri;
    font-size: 24px;
     color: black;
}

   
/* div.theatreContainer {
    position: Absolute;
    width: 694px;
    height: 850px;
    margin: 100px;
    border: 5px solid green;
    padding: 0px;
    bottom: 2000px;
    overflow: hidden;
}
*/



/*div.theatreFooter{
    position: relative;
    bottom: 0px;
    width: 690px;
    height: 100px;
    margin: 0px;
    border: 0px solid black;
    padding: 5px;
    background-color:black;
    Font-family: calibri;
    font-size: 14px;
     color: white;
}*/ 



.button {
    background-color: black;
    border: none;
    color: black;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 0px 0px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: black; 
    color: white; 
    border: 0px solid #4CAF50;
}

.button1:hover {
    background-color: #555555;
    color: white;
}

.button2 {
    background-color: black; 
    color: white; 
    border: 0px solid #008CBA;
}

.button2:hover {
    background-color: #555555;
    color: white;
}

.button3 {
    background-color: black; 
    color: white; 
    border: 0px solid #f44336;
}

.button3:hover {
    background-color: #555555;
    color: white;
}

.button4 {
    background-color: black;
    color: white;
    border: 0px solid #e7e7e7;
}

.button4:hover {background-color:#555555;}

.button5 {
    background-color: black;
    color: white;
    border: 0px solid #555555;
}

.button5:hover {
    background-color: #555555;
    color: white;
}














